<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Portfolio Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d992b2">  <td>20/09/15 09:06:30</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.init()[pri:0, instance:com.practice.hybrid.ixigoSuite.SearchFlightTest@f6c48ac]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@24261917</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>20/09/15 09:06:30</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.init()[pri:0, instance:com.practice.hybrid.ixigoSuite.ValidatePageTest@1e88b3c]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1596603271</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>20/09/15 09:06:31</td>   <td>386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.initTest()[pri:0, instance:com.practice.hybrid.ixigoSuite.SearchFlightTest@f6c48ac]">&gt;&gt;initTest</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@24261917</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>20/09/15 09:06:31</td>   <td>386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.initTest()[pri:0, instance:com.practice.hybrid.ixigoSuite.ValidatePageTest@1e88b3c]">&gt;&gt;initTest</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1596603271</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>20/09/15 09:06:38</td>   <td>7721</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.practice.hybrid.ixigoSuite.ValidatePageTest@1e88b3c]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1596603271</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>20/09/15 09:06:39</td>   <td>9241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.practice.hybrid.ixigoSuite.SearchFlightTest@f6c48ac]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@24261917</td>   <td></td> </tr>
<tr bgcolor="abee69">  <td>20/09/15 09:06:31</td>   <td>487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchFlightTest.searchFlightTest(java.util.Hashtable)[pri:0, instance:com.practice.hybrid.ixigoSuite.SearchFlightTest@f6c48ac]">searchFlightTest</td> 
  <td>TestNG-tests-2@24261917</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>20/09/15 09:06:31</td>   <td>487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidatePageTest.validatePageTest(java.util.Hashtable)[pri:0, instance:com.practice.hybrid.ixigoSuite.ValidatePageTest@1e88b3c]">validatePageTest</td> 
  <td>TestNG-tests-1@1596603271</td>   <td></td> </tr>
</table>
