<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c87b81">  <td>20/09/14 23:38:16</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.init()[pri:0, instance:com.practice.hybrid.ixigoSuite.SearchFlightTest@3e6fa38a]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@239465106</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>20/09/14 23:38:17</td>   <td>383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.initTest()[pri:0, instance:com.practice.hybrid.ixigoSuite.SearchFlightTest@3e6fa38a]">&gt;&gt;initTest</td> 
<td>&nbsp;</td>  <td>main@239465106</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>20/09/14 23:38:25</td>   <td>8881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.practice.hybrid.ixigoSuite.SearchFlightTest@3e6fa38a]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@239465106</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/09/14 23:38:17</td>   <td>478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchFlightTest.searchFlightTest(java.util.Hashtable)[pri:0, instance:com.practice.hybrid.ixigoSuite.SearchFlightTest@3e6fa38a]">searchFlightTest</td> 
  <td>main@239465106</td>   <td></td> </tr>
</table>
