<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Ixigo Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c87b81">  <td>20/09/15 09:08:54</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.init()[pri:0, instance:com.practice.hybrid.ixigoSuite.ValidatePageTest@3e6fa38a]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1804968323</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>20/09/15 09:08:54</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.init()[pri:0, instance:com.practice.hybrid.ixigoSuite.SearchFlightTest@4dfa3a9d]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@229202784</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>20/09/15 09:08:55</td>   <td>379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.initTest()[pri:0, instance:com.practice.hybrid.ixigoSuite.SearchFlightTest@4dfa3a9d]">&gt;&gt;initTest</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@229202784</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>20/09/15 09:08:55</td>   <td>379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.initTest()[pri:0, instance:com.practice.hybrid.ixigoSuite.ValidatePageTest@3e6fa38a]">&gt;&gt;initTest</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1804968323</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>20/09/15 09:09:02</td>   <td>7542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.practice.hybrid.ixigoSuite.ValidatePageTest@3e6fa38a]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1804968323</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>20/09/15 09:09:04</td>   <td>9457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.practice.hybrid.ixigoSuite.SearchFlightTest@4dfa3a9d]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@229202784</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>20/09/15 09:08:55</td>   <td>479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchFlightTest.searchFlightTest(java.util.Hashtable)[pri:0, instance:com.practice.hybrid.ixigoSuite.SearchFlightTest@4dfa3a9d]">searchFlightTest</td> 
  <td>TestNG-tests-2@229202784</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/09/15 09:08:55</td>   <td>479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidatePageTest.validatePageTest(java.util.Hashtable)[pri:0, instance:com.practice.hybrid.ixigoSuite.ValidatePageTest@3e6fa38a]">validatePageTest</td> 
  <td>TestNG-tests-1@1804968323</td>   <td></td> </tr>
</table>
